---
layout: default
title: 
---
{% for post in paginator.posts %}
<div class="post_lists">
	<h1><a href="{{ site:url  }}{{ post.url  }}" target="_blank" title="{{post.title}}">{{post.title}}</a></h1>
	<h2>
		<span>作者：{{ post.author }}</span>
		<span>分类：{{ post.category }}</span>
		<span>日期：{{ post.date | date:"%Y-%m-%d"  }}</span>
	</h2>
	<div class="content">
		{% if post.img %}
		<p><img src="{{ site:url  }}/static/attachment/20130419/disqus.jpg" /></p>
		{% endif %}
		{{ post.description }}
	</div>
</div>
<div class="index_page">
			{% if paginator.previous_page %}
	{% if paginator.previous_page>1  %}
			&laquo;&nbsp;<a href="{{ site:url  }}/page{{ paginator.previous_page }}" class="page">Previous</a>
	{% else  %}
	&laquo;&nbsp;<a href="{{ site:url  }}/" class="page">Previous</a>
	{% endif  %}
			{% endif %}
			{% if paginator.next_page %}
			<a href="{{ site:url  }}/page{{ paginator.next_page  }}" class="page">Next</a>&nbsp;&raquo;
			{% endif %}
</div>
{% endfor %}
