<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }} 曹甲寅的日志空间</title>
        <meta name="keywords" content="{{  page.keywords }},caojiayin,jaing,jiayin,blog,logs,日志,博客"/>
        <meta name="description" content="曹甲寅的日志空间，记录工作中所遇到的问题和解决办法。" />
        <link href="{{ site:url  }}/static/style/default.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{{ site:url  }}/static/javascript/jquery.js"></script>
</head>
<body>
<div class="warp900 header">
		<a href="{{ site:url  }}">甲子的日志空间</a>
	</div>
</div>