<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }} 曹甲寅的日志空间</title>
        <meta name="keywords" content="{{  page.keywords }},caojiayin,jaing,jiayin,blog,logs,日志,博客"/>
        <meta name="description" content="曹甲寅的日志空间，记录工作中所遇到的问题和解决办法。" />
        <meta http-equiv="X-UA-Compatible" content="IE=8" />
        <meta name="baidu-site-verification" content="6IcxeZ3YMkEjcP7c" />
        <link href="{{ site:url  }}/static/style/default.css" rel="stylesheet" type="text/css" />
        <link href="{{ site:url  }}/static/style/highlight.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{{ site:url  }}/static/javascript/jquery.js"></script>
		<script type="text/javascript" src="{{ site:url  }}/static/javascript/shCore.js"></script>
		<script type="text/javascript" src="{{ site:url  }}/static/javascript/common.js"></script>		
</head>
<body>
<div class="warp900 header">
		<a href="{{ site:url  }}"><img src="{{ site:url  }}/static/images/myhome.png" /></a>
	</div>
</div>